<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPU</title>
</head>
<body>
    {{>header}}
    <h1>Examination Details</h1>
    <p>{{small coursecode}}</p>
    <p>CourseName:{{Capt coursename}}</p>
    <p>Date:{{date}}</p>
    <p>Timing:{{time}}</p>
    <p>Room:{{room}}</p>
    
    {{>footer}}
</body>
</html>
