
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPU </title>
</head>
<body>
    {{> header}}
    <h1 style="color:blueviolet">CourseWise Result</h1>
    <p>Registration No:{{regno}}</p>
    <p>Name:{{Capt name}}</p>
    <p>Batch:{{batch}}</p>
    <p>TermID: {{termid}}</p>
    <p>CourseCode:{{coursecode}}</p>
    <p>Grade:{{grade}}</p>
    {{> footer}}
</body>
</html>